<h1>Messages</h1>

<table>
  <tr>
    <th>Message ID</th>
    <th>Chat ID</th>
    <th>Author</th>
    <th>Body</th>
    <th>Actions</th>
  </tr>

  <% @messages.each do |message| %>
    <tr>
      <td><%= message.id %></td>
      <td><%= message.chat_id %></td>
      <td><%= message.user.first_name %> <%= message.user.last_name %></td>
      <td><%= message.body %></td>
      <td><%= link_to 'Show', message_path(message) %> | <%= link_to 'Edit', edit_message_path(message) %></td>
    </tr>
  <% end %>
</table>

<hr>

<%= link_to 'Write New Message', new_message_path, class: "btn btn-primary" %>