<h1>Message Details</h1>

<p><strong>Author:</strong> <%= @message.user.first_name %> <%= @message.user.last_name %></p>
<p><strong>Chat:</strong>
  Chat between <%= @message.chat.sender.first_name %> <%= @message.chat.sender.last_name %> and <%= @message.chat.receiver.first_name %> <%= @message.chat.receiver.last_name %>
  (<%= link_to "View Chat", chat_path(@message.chat) %>)
</p>
<p><strong>Body:</strong> <%= @message.body %></p>

<hr>

<%= link_to 'Back to Messages', messages_path %> |
<% if can? :edit, @message %><%= link_to 'Edit Message', edit_message_path(@message) %><% else %>Cannot Edit<% end %> |
<% if can? :destroy, @message %><%= link_to 'Delete', message_path(@message), method: :delete,data: { confirm: 'Are you sure?' } %><% else %>Cannot Delete<% end %> |
<%= link_to 'Write New Message', new_message_path %>