<h1>Message Details</h1>

<p><strong>ID:</strong> <%= @message.id %></p>
<p><strong>Chat ID:</strong> <%= @message.chat_id %></p>
<p><strong>User ID:</strong> <%= @message.user_id %></p>
<p><strong>Body:</strong> <%= @message.body %></p>

<%= link_to 'Back to Messages', messages_path %> |

<%= link_to 'Write new message', new_message_path %>