<h1>Chats</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Sender ID</th>
    <th>Receiver ID</th>
    <th>Actions</th>
  </tr>

  <% @chats.each do |chat| %>
    <tr>
      <td><%= chat.id %></td>
      <td><%= chat.sender_id %></td>
      <td><%= chat.receiver_id %></td>
      <td><%= link_to 'Show', chat_path(chat) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Start new chat', new_chat_path, class: "btn btn-primary" %>